@import '../../../../src/styles/styles.scss';

.Label {
  font-size: 14px;
}

.Input {
  border: 1px solid $brand-border-color;
  border-radius: $border-radius-base;
  height: 44px;
  padding: 10px;
  width: 100%;
  margin-bottom: $margin-base-bottom;
  font-size: 16px;
  outline: none;
}

.error {
  border: 1px solid red;
}