@import '../../../../src/styles/styles.scss';

.account-footer {
  text-align: center;
}

.signup-label {
  margin-bottom: $margin-base-bottom;
}

.auth-link {
  color: $brand-color-1;
}

.auth-link:hover {
  text-decoration: underline;
  cursor: pointer;
}