$border-radius-base:  4px;
$margin-base-bottom: 14px;

// colors
$brand-primary: #01678a;
$brand-color-1: #2c98f0;
$brand-border-color: #e2e2e2;
$brand-white: #fff;
$brand-black: #000;
$brand-darker: #444;
$brand-gray: #f2f3f7;
