@import '../../../../src/styles/styles.scss';

.Button {
  background-color: $brand-primary;
  color: $brand-white;
  border-color: transparent;
  border-radius: $border-radius-base;
  border-width: 2px;
  font-size: 16px;
  font-weight: 500;
  padding: 10px 8px;
  cursor: pointer;
  width: 100%;
  margin-bottom: 22px;
}