$font-primary: 'Quicksand', Arial, sans-serif;

html, body, #root {
  font-family: $font-primary;
	font-weight: 400;
	font-size: 16px;
  height: 100%;
  margin: 0px;
  box-sizing: border-box;
  background-color: #f6f6f6;
}

*, *:before, *:after {
  box-sizing: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}